body{
	background-image: url(https://linuxradar.files.wordpress.com/2014/06/p81tvov.png);
	background-repeat: no-repeat;
	background-size:100%
}
.wrapper{
	width: 350px;
	height: 400px;
	background-color: #D2B48C;
	border-radius: 20px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.wrapper h2{
	font-family: sans-serif;

}
.wrapper .DangKi input, button{
    width: 300px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid white;
	margin-bottom: 15px;
	font-size: 17px;
}
.wrapper .DangKi button{
    width: 305px;
	height: 40px;
	border-radius: 5px;
	border: none;
	margin-bottom: 15px;
	background-color: #1E90FF;
	color: white;
}
.wrapper .DangKi button{
	cursor: pointer;
	background-color: #3b9bfc;
}
.wrapper .DangNhap p,a{
	text-decoration: none;
	font-size: 17px;
	font-family: sans-serif;
}
/* tao footer */
.content {
	/* Khoảng cách giữa nội dung và chân trang */
	margin-bottom: 100px;
  }
  
  .footer {
   
	position: fixed; /* Đặt chân trang ở vị trí cố định */
	left: 0;
	bottom: 0;
	width: 100%;
	
    padding:20px;
	text-align: center;
	display:flex;
   
	justify-content:space-around;
	z-index: 2;
	background-image:linear-gradient(0,#fe6433,#f53e2d);
  }
  
  .footer p {
	margin: 0;
  }
  
  .footer a {
	color: #333;
	text-decoration: none;
  }
  
  .footer a:hover {
	text-decoration: underline;
  }
